header{
    width: 100%;
    display: flex;
    /* justify-content:space-between; */
    align-items: center;
}
header ul{
    display: flex;
}
.lines{
    display: none;
}
header .title{
    
    cursor: pointer;
}
.pc{
    margin: auto;
    max-width: 85rem;
    
}

@media screen and (max-width:700px) {
    
    header{
        position: fixed;
        z-index: 101;
        top: 0;
        margin: 0;
        height: 10vh;
    }
    header ul{
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 60%;
        transition: .5s;
        left: -100%;
        background-color: rgb(210, 207, 207);
        /* opacity: 0; */
        display:block;text-align: center;

    }
    header ul.active{
        left: 0;
        display: block;
    }
    header ul li a:hover{
        color: white;
        transition: .4s;
    }
    header .title{
        width: 100%;
        /* border: 1px solid red; */
        margin: 0;
        text-align: center;
        font-size: 2rem;
        padding: 1rem;
    }
    header ul li {
        /* border: 2px solid red; */
        margin: 1rem;
        /* color: white; */
    }
    header ul li a{
        
        font-size: 2rem;
    }
    .lines{
        cursor: pointer;
        display: block;
        position: fixed;
        z-index: 2;
        top: 0rem;
        width: 12vw;
        height: 10vh;
        /* border: 1px solid yellow; */
    }
    .line{
        margin: .75rem 0.25rem  ;
        width: 80%;
        height: 10%;
        border-radius: 50rem;
        background-color: black;
    }
}
@media screen and (max-height:500px){
    header {
        height: 20vh;
    }
}
@media screen and (max-height:300px){
    header {
        height: 25vh;    
    }
}