.sr input::placeholder{
    /* padding-left: 1.75rem; */
    font-weight: 600;
}
.sr{
    /* border: 1px solid red; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.sr input{
    box-shadow: 0rem 0rem .5rem .01rem   black;
    width: 100%;
    padding-left: 1.75rem;
    
 
}
.sr input{
    font-size: 1rem;
    font-weight: 700;
    /* padding: 2rem; */
    /* display: none; */
}
.sr img{
    cursor: pointer;
    position: absolute;
    margin-right: 1rem;
    z-index: 9;
    height: 1.45rem;
    width: 1.45rem;
    
}
.sr img:hover{
    transform: scale(1.1);
}

@media screen and (max-width:700px){
    .dash{
        display: none;
    }
   
  
 
 
    
    
}
