.blogs{
    width: 65%;
    height: auto;
    margin: 0 auto ;
    /* background-color: yellow; */
}
.searchh{
    display: none;
}
.card-container{
    display: grid;
    gap: 1rem;
    width: 95%;
    margin: auto;
    grid-template-columns: repeat(2,2fr);
}
.inline-flex{
    /* background-color: red; */
    width: 100%;
    margin-bottom: 2rem;
    margin-top: 2rem;
    /* text-align: center; */
    justify-content: space-evenly;
}
@media screen and (max-width:700px){
    .blogs{
        width: 90%;
        padding-top: 5rem;
        /* background-color: red; */
    }
    .searchh{
        width:70%;
        margin: auto;
        padding: 1rem;
        display: block;
    }
}