.blog-content{
    height: auto;
    width:100%;
   
}
.dashc .dash{
    width: 80%;
}
.dashc{
    /* border: 2px solid red; */
    width: 33.3%;
}
.dashc .dash-content{
    width: 100%;
    /* background-color: aliceblue; */
}
.blogc{
    width: 66.6%;
}
.imageb{
    width: 60%;
    margin: 2rem auto; 
}
.imageb img{
    border-radius: 1rem;
    width: 80%;
    margin: auto;

}
@media screen and (max-width:700px){
    .imageb {
        width: 100%;
    }
    .blogc{
    position: relative;

         top: 10vh;

    }
}