.blog-content{
    height: 100vh;
   
}
.blogc{
    width: 60%;
    margin: auto;
    /* border: 1px solid red; */
}
.imageb{
    width: 60%;
    margin: 2rem auto; 
}
.imageb img{
    border-radius: 1rem;
    width: 80%;
    margin: auto;

}